* {
margin: 0;
padding: 0;
}

body{
	z-index: 1;
	position: relative;
	height:100vh;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  transition:all 1s ease;
}


.about{
	background-color: white;
	font-family: 'Space Mono', monospace;
	width: 35%;
	margin:auto;
	margin-top:12%;
	transition: opacity .5s ease-in-out;
}

.about p{
	margin-bottom: 15px;
	text-align: left;
}


.nav-text{
	width: 100vw;
	background-color: white;
	display: none;
	padding: 20px;
	font-family: 'Space Mono', monospace;
	color: rgb(0, 0, 255);
	position: absolute;
	z-index: 3;
}

.navigation-top{
	width: 100vw;
	height: 50px;
	position: absolute;
	z-index: 3;
}

.navigation-top:hover + .nav-text{
	display: inline-block;
}
.nav-text:hover {
	display:inline-block;
}


ul{
	display: inline-block;
	margin-left: 30px;
}

li{
	display: inline-block;
}

li:first-child{
	color:black;
}

.nav-text li{
	cursor:pointer;
}



.grid-container{
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(17, 99px);
	grid-template-rows: repeat(9, 100px);
	
}

.grid-element{
  z-index: 2;
  background-color: black;
  border-top:100px solid white;
  border-right:100px solid black;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  transform: scaleX(1);
  transform: scaleY(1);
}


/*.container {
  display: grid;
  margin: 40px;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(8rem, 1fr)); 
}*/

/*.container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 2 / 1;
  grid-column: 1 / 1;
}

.container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}*/

/* Just to make the grid visible */

/*.container > * {
  background: rgba(0,0,0,0.1);
/*  border: 1px white solid;*/
/*}*/


/*.grid-element.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}*/